@model TMDB.net.Models.TheMovieDb
@{
    ViewBag.Title = "Implementing TheMovieDB (TMDB) API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @Styles.Render("~/Content/css/actor")
}

<div class="movie-ticket">
    <!-- Item -->
    <div class="ui-item ">
        <h3>@Model.name</h3>
        <div class="ui-review">
            <div id="floated">
                @if (Model != null)
                {
                    string image = Model.profilePath == null ?
                    Url.Content("~/Content/Image/no-image.png") : Model.profilePath;
                    <!-- Image -->
                    <img src="@image" alt="" class="img-responsive">
                }
            </div>
            <!-- Review -->
            <!-- Paragraph -->
            <p>@Model.imdbId</p>
            <!-- company-->
            <div class=" text-justify">
                <p>@Model.biography</p>
            </div>
            <!-- Buttons -->
            <br /><br />
            <div class=" text-center">
                <button type="button" class="btn btn-light" onclick="window.history.back();">Back</button>
            </div>
        </div>
    </div>
</div>

