@model TMDB.net.Models.TheMovieDb

@{ ViewBag.Title = "Implementing TheMovieDB (TMDB) API";}
<h1>Implementing The Movie Database API</h1>

<div id="apiDiv">
    <div class="return"><a href="@Url.Action("Index", "TmdbApi")">Return</a></div>
    <h4>@Model.name</h4>
    <p class="biography"><img src="@Model.profilePath" />@Model.biography</p>
    <p>Birthday: @Model.birthday</p>
    <p>Place of Birth: @Model.placeOfBirth</p>
    <p>Also Known as: @Model.alsoKnownAs</p>
</div>