@model TMDB.net.Models.TheMovieDb
<style>
    /*body {
        background-color: #000;
    }

    #apiDiv {
        padding-left: 20px;
        display: inline-block;
        width: 95%;
        text-align: justify;
    }

        #apiDiv h4 {
            margin: 10px 0;
        }

        #apiDiv .biography img {
            float: left;
            padding-right: 10px;
        }

        #apiDiv .return {
            text-align: center;
        }

            #apiDiv .return a {
                color: #00e8ff;
                font-size: 20px;
                text-decoration: underline;
            }*/
</style>
@{ ViewBag.Title = "Implementing TheMovieDB (TMDB) API";}
<h1>Implementing The Movie Database API</h1>
<h2><a href="http://www.yogihosting.com/implement-themoviedb-api/">Read the tutorial on YogiHosting » </a></h2>
<div id="apiDiv">
    <div class="return"><a href="@Url.Action("Index", "TmdbApi")">Return</a></div>
    <h4>@Model.name</h4>
    <p class="biography"><img src="@Model.profilePath" />@Model.biography</p>
    <p>Birthday: @Model.birthday</p>
    <p>Place of Birth: @Model.placeOfBirth</p>
    <p>Also Known as: @Model.alsoKnownAs</p>
</div>